@model HomePageViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Wellcome</h1>
<br />

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant);
}
<div>
    <a asp-controller="Home" asp-action="Create">Create</a>
</div>
